# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native builds
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
android/
ios/

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store

# Env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor
.idea/
.vscode/
*.swp
*.swo

# Testing
coverage/

# Temp
*.log
